Screen {
    layout: grid;
    grid-size: 13 13;
}

.main_window {
    column-span: 5;
    row-span: 12;
}

.medium_window {
    column-span: 8;
    row-span: 7;
}

.small_window {
    column-span: 4;
    row-span: 5;
}

.command_input {
    column-span: 12;
    row-span: 1;
}

.box {
    height: 100%;
    border: solid purple;
}
